table {
    border-spacing: 0 10px;
    font: bold 100% Georgia, Serif;
    margin: 40px auto;
    text-shadow: 5px 5px 5px #2f5852;
    background: beige;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    border: 10px solid blue;
}